<div class="surface-card p-4 shadow-2 border-round">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-folder-open mr-2"></span>
                <span class="font-bold text-lg">Administracion de Faenas</span>
            </div>
        </ng-template>
        <div class="flex justify-content-between flex-wrap mb-2">
            <h1>Historial de faenas</h1>
            <p-button icon="pi pi-external-link" label="Crear Nueva" (click)="showDialog()"></p-button>
        </div>
        <p-table responsiveLayout="stack" scrollHeight="flex" [value]="faenas" class="mt-2">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Desde</th>
                    <th>Hasta</th>
                    <th>Empresa</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-product sortMode="multiple">
                <tr>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.fecha_inicio | date: 'dd-MM-yyyy':tz }}</td>
                    <td>{{ product.fecha_termino | date: 'dd-MM-yyyy':tz }}</td>
                    <td>{{ product.empresa }}</td>
                    <td>
                        <p-button icon="pi pi-external-link" label="Ver Detalles"
                            (click)="showDialog(product)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</div>


<div class="card flex justify-content-center">
    <p-dialog header="Formulario de faenas" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false"
        [style]="{ width: '80%', height: '80%' }" class="surface-section md:px-6 lg:px-8" (onHide)="limpiar()">

        <div class="surface-section px-4 py-4 md:px-6 lg:px-8">
            <div class="grid">
                <div class="col-12">
                    <div class="text-900 font-medium text-xl mb-3">Faenas</div>
                    <p class="m-0 p-0 text-600 line-height-3 mr-3">Cree nuevas faenas, visualice el estado de estas y/o
                        agregue informacion adicional a estas</p>
                </div>
                <div class="col-12">
                    <form [formGroup]="faenaForm" class="grid formgrid p-fluid">
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="nombre" class="font-medium text-900">nombre</label>
                            <input id="nombre" type="text" pInputText required formControlName="nombre">
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('nombre').invalid && faenaForm.get('nombre').touched">
                                nombre es requerido
                            </small>
                        </div>
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="fecha_inicio" class="font-medium text-900">fecha_inicio</label>
                            <p-calendar 
                                id="fecha_inicio" 
                                formControlName="fecha_inicio" 
                                [showButtonBar]="true" 
                                #fecha_inicio
                                appendTo="body"
                                class="font-medium text-900 w-full"
                                dateFormat="dd/mm/yy"
                                [readonlyInput]="true"></p-calendar>
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('fecha_inicio').invalid && faenaForm.get('fecha_inicio').touched">
                                fecha_inicio es requerido
                            </small>
                        </div>
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="fecha_termino" class="font-medium text-900">fecha_termino</label>
                            <p-calendar id="fecha_termino" formControlName="fecha_termino" [showButtonBar]="true" dateFormat="dd/mm/yy"
                                [readonlyInput]="true"></p-calendar>
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('fecha_termino').invalid && faenaForm.get('fecha_termino').touched">
                                fecha_termino es requerido
                            </small>
                        </div>
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="descripcion" class="font-medium text-900">descripcion</label>
                            <input id="descripcion" type="text" pInputText required formControlName="descripcion">
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('descripcion').invalid && faenaForm.get('descripcion').touched">
                                descripcion es requerido
                            </small>
                        </div>
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="empresa" class="font-medium text-900">empresa</label>
                            <input id="empresa" type="text" pInputText required formControlName="empresa">
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('empresa').invalid && faenaForm.get('empresa').touched">
                                empresa es requerido
                            </small>
                        </div>
                        <div class="field col-12 md:col-3 mt-2">
                            <label for="validez" class="font-medium text-900">validez</label>
                            <input id="validez" type="text" pInputText required formControlName="validez">
                            <small class="p-error ng-star-inserted"
                                *ngIf="faenaForm.get('validez').invalid && faenaForm.get('validez').touched">
                                validez es requerido
                            </small>
                        </div>

                        <div class="col-12">
                            <button pButton pRipple label="Guardar Canbios" class="w-auto mt-3"
                                [disabled]="faenaForm.invalid" (click)="guardarDatos()">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </p-dialog>
</div>

<p-toast></p-toast>